<h2>Update the drone</h2>

<form action="/drones/{{id}}/edit" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{name}}">
    <label for="propellers">Propellers:</label>
    <input type="text" name="propellers" value="{{propeller}}">
    <label for="maxSpeed" value="{{maxSpeed}}">Max Speed:</label>
    <input type="text" name="maxSpeed">

    <button type="submit" >Edit!</button>
</form>